  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a colony</h4>
        </div>
        <form ng-submit="begin()">
        <div class="modal-body">
            <h1>Colony Name</h1>
            <input type="text" name="colonyName" ng-model="beginData.colonyName"></input>
            <h1>Colony Location</h1>
            <table class="selectTable">
              <tr ng-repeat="row in gameGrid.cells">
                <td ng-repeat="col in row" style="line-height: 10px">
                  <label style="width: 16px; height: 16px; margin: 0" ng-click="setLocation(col)" ng-class="{'bg-primary': beginData.location==col.location, 'bg-danger': col.type != 'none'}"></label>
                </td>
              </tr>
            </table>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" ng-if="error">
            Error: {{error}}
          </div>
          <input type="submit" value="Start new colony" class="btn btn-primary"></input>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


